language: java

before_install:
  - pyenv versions

install:
  - curl https://raw.githubusercontent.com/algorand/algorand-sdk-testing/master/scripts/sdkupdate.sh -o ~/sdkupdate.sh
  - chmod +x ~/sdkupdate.sh

script:
  - mvn test -q
  - ~/sdkupdate.sh --java

