#macro ( toQueryType $param )##
#if ( $param.algorandFormat == "RFC3339 String" )
string##
#elseif ( $param.type == "integer" )
uint64##
#elseif ( $param.type == "string" )
string##
#elseif ( $param.type == "boolean" )
bool##
#elseif( $param.type == "binary" )
string##
#else
UNHANDLED TYPE
- ref: $!param.refType
- type: $!param.type
- array type: $!param.arrayType
- algorand format: $!param.algorandFormat
- format: $!param.format
##$unknown.type ## force a template failure with an unknown type
#end
#end
#set( $queryArg = "nil" )
#set( $queryType = ${str.capitalize($q.name)} )
package $propFile.query_package;

import (
  "context"
#foreach( $qp in $q.queryParameters)
#if( $qp.algorandFormat == "base64" )
  "encoding/base64"
#break
#end
#end
#if( $str.matches($q.path, ".*\{.*}.*") )
  "fmt"
#end
#foreach( $qp in $q.queryParameters)
#if( $qp.algorandFormat == "RFC3339 String" )
  "time"
#break
#end
#end

  "github.com/algorand/go-algorand-sdk/client/v2/common"
  "github.com/algorand/go-algorand-sdk/client/v2/common/models"
)
## build the query Params type
#if( $q.queryParameters.size() > 0)
#set( $paramType = "${str.uncapitalize($q.name)}Params" )

type ${paramType} struct {
#foreach( $qp in $q.queryParameters)

  // $str.formatDoc("$str.kebabToUpperCamel($qp.propertyName) ${str.uncapitalize($qp.doc)}", "  // ")
  $str.kebabToUpperCamel($qp.propertyName) #toQueryType($qp) `url:"$qp.propertyName,omitempty"`
#end
}
#end

type $queryType struct {
  c *Client
#foreach( $pp in $q.pathParameters )

  $str.kebabToCamel($pp.propertyName) #toQueryType($pp)

#end
#if( $q.queryParameters.size() > 0)
#set( $queryArg = "s.p" )

  p $paramType
#end
}
#foreach( $qp in $q.queryParameters)
#set( $paramFunc = ${str.kebabToUpperCamel($qp.propertyName)} )
#set( $paramArg = $str.uncapitalize($paramFunc) )
#set( $paramType = "#toQueryType($qp)" )

## Special handling for date fields.
#if( $qp.algorandFormat == "RFC3339 String" )
// $str.formatDoc("${paramFunc}String ${str.uncapitalize($qp.doc)}", "// ")
func (s *$queryType) ${paramFunc}String($paramArg $paramType) *$queryType {
  s.p.$paramFunc = $paramArg
  return s
}

// $str.formatDoc("${paramFunc} ${str.uncapitalize($qp.doc)}", "// ")
func (s *$queryType) ${paramFunc}($paramArg time.Time) *$queryType {
  ${paramArg}Str := ${paramArg}.Format(time.RFC3339)
  return s.${paramFunc}String(${paramArg}Str)
}
#else
// $str.formatDoc("${paramFunc} ${str.uncapitalize($qp.doc)}", "// ")
func (s *$queryType) ${paramFunc}($paramArg $paramType) *$queryType {
#if ( $qp.type == "integer" || $qp.type == "string" || $qp.type == "boolean" )
  s.p.$paramFunc = $paramArg
#elseif( $param.type == "binary" )
  s.p.$paramFunc = base64.StdEncoding.EncodeToString($paramArg)
#else
UNHANDLED TYPE
- ref: $!param.refType
- type: $!param.type
- array type: $!param.arrayType
- algorand format: $!param.algorandFormat
- format: $!param.format
##$unknown.type ## force a template failure with an unknown type
#end
  return s
}
#end
#end

## Do function -- Build up path with fmt.Sprintf if there are path parameters.
#set( $processedPath = """${q.path}""" )
#if( $str.matches($q.path, ".*\{.*}.*") )
#set( $processedPath = "fmt.Sprintf(""" )
#set( $argList = "" )
#foreach( $part in $q.pathParts )
#if ( $part.matches("\{.*}") )
#set( $processedPath = "${processedPath}/%v" )
#set( $argList = "$argList, s.${str.kebabToCamel($str.unwrap($part))}" )
#else
#set( $processedPath = "${processedPath}/$part" )
#end
#end
#set( $processedPath = "${processedPath}""$argList)" )
#end
func (s *${queryType}) Do(ctx context.Context, headers ...*common.Header) (response models.${q.returnType}, err error) {
  err = s.c.get(ctx, &response, $processedPath, $queryArg, headers)
  return
}

